/* 
    Hinweis:
    404 dient aktuell als Platzhalter.
    Erweiterungen erfolgen bewusst erst in der Projektphase 2 & 3. 

    Geplante Funktionen:
    * Klare Fehlermeldungen 
    * Link zurück zu den Hauptseiten 
*/

.not-found {
    row-gap: 2rem;
    padding-block: 2rem;
    margin-block: 1rem;
}

.not-found__heading,
.not-found__text,
.not-found__link, 
.not-found__pic {
    grid-column: 1 / -1;
    margin: 0;
    justify-self: center;
}

.not-found__pic img {
    max-width: 100%;
    max-height: 100vh;
    width: auto;
    height: auto;

    display: block;
}


/* Breakpoint ab 1280px */
@media (min-width: 1280px) {
    .not-found {
        margin-block: 6rem;
    }

    .not-found__heading,
    .not-found__text,
    .not-found__link, 
    .not-found__pic {
        grid-column: 2 / -2;
    }
}