/* --------------------------- 404-Seite --------------------------- */
.not-found {
    row-gap: var(--gap-m);
    padding-block: var(--space-xl);
    /*margin-block: var(--space-m);*/
}

.not-found__text, 
.not-found__link,
.not-found__pic {
    justify-self: center;
    text-align: center;
}


/* --------------------------- Bild-Card --------------------------- */
.not-found__pic {
    position: relative;
    /*justify-self: center;*/
    
    width: min(80vw, 900px);
    height: clamp(320px, 60vw, 520px);

    overflow: hidden;
    border-radius: var(--radius-l);
    border: 2px solid var(--accent-line);
    box-shadow: var(--clay-card-shadow);
}

/* Bild innerhalb der Card (füllt den Container vollständig) */
.not-found__pic > img {
    width: 100%;
    height: 100%;
    /*display: block;*/
    object-fit: cover;
    object-position: center;
}


/* --------------------------- Overlay: h1("404") liegt über dem Bild --------------------------- */
.not-found__overlay {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    
    position: absolute;
    inset: 0;
    
    padding: clamp(1rem, 3vw, 2.5rem);
    margin: 3rem;
}


/* Überschrift */
.not-found__heading {
    margin: 0;
    font-size: var(--font-size-h1-big);
    color: var(--accent-text);
}


/* --------------------------- Erklärungstext unterhalb des Bildes --------------------------- */
.not-found__text {
    max-width: var(--measure-text-narrow);
    margin: 0;
    font-size: var(--font-size-hero-lead);
    font-weight: var(--font-weight-semibold);
    color: var(--accent-text);
}
