.detailseite section {
    grid-column: 1 / -1;
}

.detailseite.grid {
        grid-auto-rows: auto;
}

.detailseite.grid > * {
    min-width: 0;
}

.detailseite .hero {
    grid-column: 1 / -1;
    display: contents;
}

.detailseite .hero__heading {
    grid-column: 1 / -1;
    margin: 0;
    grid-row: 1;
}

.detailseite .hero__text {
    grid-column: 1 / -1;
    margin: 0;
    grid-row: 2;
}

.detailseite .hero__media {
    grid-column: 1 / -1;
    grid-row: 3;
    align-self: start;
}

.detailseite .hero__media img {
    width: 100%;
    display: block;
    object-fit: cover;
}


@media (min-width: 768px) {
    .detailseite.grid {
        grid-auto-rows: auto;
    }


    .detailseite .hero {
        display: contents;
    }

    .detailseite .hero__heading {
        grid-column: 1 / 6;
        margin: 0;
        grid-row: 1;
    }

    .detailseite .hero__text {
        grid-column: 1 / 6;
        margin: 0;
        grid-row: 2;
    }

    .detailseite .hero__media {
        grid-column: 6 / 9;
        grid-row: 1 / 4;
        align-self: start;
    }

    .detailseite .hero__media img {
        width: 100%;
        /**height: 70vh;**/
        /**max-width: 100%;**/
        object-fit: cover;
        display: block;
    }
}



@media (min-width: 1280px) {

    .detailseite.grid {
        grid-auto-rows: auto;
    }


    .detailseite .hero {
        display: contents;
    }

    .detailseite .hero__heading {
        grid-column: 1 / 8;
        margin: 0;
        grid-row: 1;
    }

    .detailseite .hero__text {
        grid-column: 1 / 8;
        margin: 0;
        grid-row: 2;
    }

    .detailseite .hero__media {
        grid-column: 8 / 13;
        grid-row: 1 / 4;
        align-self: start;
    }

    .detailseite .hero__media img {
        width: 100%;
        /**height: 70vh;**/
        /**max-width: 100%;**/
        object-fit: cover;
        display: block;
    }

}
