.detailseite .hero {
    grid-column: 1 / -1;

    display: grid;
    gap: 1rem;

    grid-template-columns: 1fr;
    grid-template-areas: 
        "heading"
        "text"
        "media";
}

.detailseite .hero__heading,
.detailseite .hero__text,
.detailseite .hero__media {
    min-width: 0;
}

.detailseite .hero__heading,
.detailseite .hero__text {
    overflow-wrap: anywhere;
}

.detailseite .hero__heading {
    grid-area: heading;
}

.detailseite .hero__text {
    grid-area: text;
}

.detailseite .hero__media {
    grid-area: media;
    margin: 0;
    min-width: 0;
    aspect-ratio: 3 / 4;
    overflow: hidden;
}

.detailseite .hero__media img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@media (min-width: 768px) {
    .detailseite .hero {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "heading media"
            "text media";
    }
}


@media (min-width: 1280px) {
    .detailseite .hero {
        grid-template-columns: 2fr 1fr;
        grid-template-areas: 
            "heading media"
            "text media";
    }
}






/**
.detailseite > section {
    grid-column: 1 / -1;
    
    grid-template-rows: auto;
}

.detailseite > section:not(.hero) {
  grid-column: 1 / -1;
  grid-row: auto; 
  grid-row: 4 / 8;
}

.detailseite > section.content-section {
    grid-column: 1 / -1;
    grid-row: 4;
    
}

.detailseite > section.content-section > .section__heading {
    grid-row: 1;
}

.detailseite > section.content-section > .article {
    grid-row: 2;
}




.detailseite.grid {
        grid-auto-rows: auto;
}

.detailseite.grid > * {
    min-width: 0;
}

.detailseite .hero {
    grid-column: 1 / -1;
    display: contents;
    grid-row: 1 / 5;
}

.detailseite .hero__heading {
    grid-column: 1 / -1;
    margin: 0;
    grid-row: 1;
}

.detailseite .hero__text {
    grid-column: 1 / -1;
    margin: 0;
    grid-row: 2;
}

.detailseite .hero__media {
    grid-column: 1 / -1;
    grid-row: 3;
    align-self: start;
}

.detailseite .hero__media img {
    width: 100%;
    display: block;
    object-fit: cover;
}


@media (min-width: 768px) {
    .detailseite.grid {
        grid-auto-rows: auto;
    }


    .detailseite .hero {
        display: contents;
    }

    .detailseite .hero__heading {
        grid-column: 1 / 6;
        margin: 0;
        grid-row: 1;
    }

    .detailseite .hero__text {
        grid-column: 1 / 6;
        margin: 0;
        grid-row: 2;
    }

    .detailseite .hero__media {
        grid-column: 6 / 9;
        grid-row: 1 / 4;
        align-self: start;
    }

    .detailseite .hero__media img {
        width: 100%;
        /**height: 70vh;
        /**max-width: 100%;
        object-fit: cover;
        display: block;
    }
}



@media (min-width: 1280px) {

    .detailseite.grid {
        grid-auto-rows: auto;
    }


    .detailseite .hero {
        display: contents;
    }

    .detailseite .hero__heading {
        grid-column: 1 / 8;
        margin: 0;
        grid-row: 1;
    }

    .detailseite .hero__text {
        grid-column: 1 / 8;
        margin: 0;
        grid-row: 2;
    }

    .detailseite .hero__media {
        grid-column: 8 / 13;
        grid-row: 1 / 4;
        align-self: start;
    }

    .detailseite .hero__media img {
        width: 100%;
        /**height: 70vh;
        /**max-width: 100%;
        object-fit: cover;
        display: block;
    }

}
**/



