/* ===================================== Detailseite ===================================== */


/* --------------------------- Layout --------------------------- */
.detailseite {
    row-gap: var(--gap-xl);
    padding-block: 0 var(--space-xl);
}


/* --------------------------- Content --------------------------- */
.detailseite .content {
    gap: var(--gap-m);
    margin-block: var(--space-2xl);
}

.detailseite .content > * {
    min-width: 0;
}

.detailseite .content__heading {
    margin-bottom: var(--space-xl);
    padding: 1rem 1.25rem;
    border-bottom: 1px solid var(--border);
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-semibold);
}

@media (min-width: 768px) {
    .detailseite .content {
        gap: var(--gap-l);
        margin-bottom: calc(var(--space-2xl) * 2);
    }
}

@media (min-width: 1280px) {
    .detailseite .content {
        gap: var(--gap-xl);
        margin-bottom: calc(var(--space-2xl) * 3);
    }
}



/* --------------------------- Snap-Scrolling --------------------------- */
@media (min-width: 1024px) {
    html.snap-active {
        scroll-snap-type: y mandatory;
        scroll-behavior: auto;
        scroll-padding-top: var(--header-height);
    }

    .detailseite .snap-section {
        scroll-snap-align: start;
        scroll-snap-stop: always;
    }
}