/* ===================================== Impressum-Seite ===================================== */

/* --------------------------- Seitenlayout --------------------------- */
.impressum {
    row-gap: var(--gap-xl);
    padding-block: 2rem;
    margin-block: 1rem;
}

@media (min-width: 768px) {
    .impressum {
        margin-block: var(--space-xl);
    }
}

@media (min-width: 1280px) {
    .impressum {
        margin-block: 6rem;
    }
}



/* --------------------------- Content-Blöcke --------------------------- */
.impressum .impressum__heading {
    margin: 0;
}

.impressum .impressum-content > * {
    min-width: 0;
    margin: 0;
}

.impressum > .impressum-content + .impressum-content {
    margin-block-start: var(--space-m);
}

@media (min-width: 768px) {
    .impressum > .impressum-content + .impressum-content {
        margin-block-start: var(--space-xl);
    }
}

@media (min-width: 1280px) {
    .impressum > .impressum-content + .impressum-content {
        margin-block-start: var(--space-2xl);
    }
}
