/* --------------------------- Seite "Impressum" --------------------------- */



.impressum {
    row-gap: 2rem;
    padding-block: 2rem;
    margin-block: 1rem;
}


/* Grundlayout */
.impressum .impressum__heading {
    margin: 0;
}



/* Robustheit: verhindert Overflow in Grid-Zellen und entfernt Default margins */
.impressum .impressum-content > * {
    min-width: 0;
    margin: 0;
}


/* Abstand zwischen inhaltlichen Blöcken */
.impressum > .impressum-content + .impressum-content {
    margin-block-start: 1rem;
}


/* --------- Breakpoints: Content --------- */
/* Breakpoint ab 768px */
@media (min-width: 768px) {
    .impressum {
        margin-block: 2rem;
    }

    .impressum > .impressum-content + .impressum-content {
        margin-block-start: 2rem;
    }
}

/* Breakpoint ab 1280px */
@media (min-width: 1280px) {
    .impressum {
        margin-block: 6rem;
    }

    .impressum > .impressum-content + .impressum-content {
        margin-block-start: 4rem;
    }
}



