/* --------------------------- Grid-System & grundlegende Layout-Resets --------------------------- */



/* --------------------------- Resets --------------------------- */
main {
    margin: 0;
    padding: 0;
    min-height: 0;
}

figure {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}



/* --------------------------- Grid --------------------------- */
.grid {
    display: grid;
    grid-template-columns: repeat(var(--columns), minmax(0, 1fr));
    gap: var(--gap);

    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
}

/* Default: alle direkten Kinder belegen die volle Breite */
.grid > * {
    grid-column: var(--content-start) / var(--content-end);
}



/* Zeilenumbruch (für gezielte Zeilenumbrüche in Texten) */
.break {
    display: block;
}