/* --------------------------- Seitenlayout & Grid-System --------------------------- */



/* --------- Main Reset --------- */
main {
    margin: 0;
    padding: 0;
}



/* --------- Grid-System: Spaltenzahl, Gap & Außenabstände über CSS-Variablen--------- */
.grid {
    display: grid;
    grid-template-columns: repeat(var(--columns), minmax(0, 1fr));
    gap: var(--gap);

    margin: var(--margin-top-bottom) var(--margin-sides);
}

/* Default: alle direkten Kinder belegen die volle Breite */
.grid > * {
    grid-column: 1 / -1;
}